/*
  Name: Personality Vis
  Description: Visualization of personality tests
*/

@import 'variables';
@import 'graph';
@import 'user-indepth';

// =============================================
// Reset Styling
// =============================================

:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  font-family: $poppins;
  font-weight: 400;
  color: $dark-gray;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation rect,
#facetsDiv {
  cursor: pointer;
}


// =============================================
// Navigation
// =============================================

.nav--arrow-back {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  left: 5%;
  top: 5%;

  &:before {
    content: "⇦";
    font-size: 30px;
    transition: 0.2s transform linear;
  }
  a {
    text-decoration: none;
    font-size: 10px;
    margin-top: -50px;
    margin-left: 5px;
    padding-top: 40px;
    z-index: 2;
  }
  &:hover {
    &:before {
      transform: translateX(-3px);
    }
  }
}


// =============================================
// Text Styling
// =============================================

.underline {
  position: relative;
  display: inline-block;
  color: $hover-color;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -2px;
    background: $hover-color;
  }
}



// =============================================
// Container Elements
// =============================================

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 75%;
  margin: 0 auto;
  height: 75%;
}

label {
  padding: 0px 10px;
}
